<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <title>Framework Test Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Kite+One|Mate+SC' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="grid">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8"><img src="http://placehold.it/430x100"></div>
      <div class="col-2"></div>
    </div>
    <div class="row header">
      <div class="col-12">
        <ul>
          <a href="#"><li>Home</li></a> <a href="#"><li>Locations</li></a> <a href="#"><li>Groupon</li></a>
        </ul>
      </div>
    </div>
    <div class="row create">
      <div class="col-12">Create</div>
    </div>
    <div class='row'>
      <div class='col-2'>2</div>
      <div class='col-2'>2</div>
      <div class='col-2'>2</div>
      <div class='col-2'>2</div>
      <div class='col-2'>2</div>
      <div class='col-2'>2</div>
    </div>
    <div class="row">
      <div class="col-3">3 Columns</div>
      <div class="col-9">9 Columns</div>
    </div>
    <div class="row">
      <div class="col-4">4 Columns</div>
      <div class="col-4">4 Columns</div>
      <div class="col-4">4 Columns</div>
    </div>
    <div class="row">
      <div class="col-3">3 Columns</div>
      <div class="col-6">6 Columns</div>
      <div class="col-3">3 Columns</div>
    </div>
    <footer class="row site-footer">
      <div class='col-3'></div>
      <div class="col-6"><p>I'm the Sticky Footer.</p></div>
      <dic class='col-3'></div>
    </footer>
  </div>
</body>
</html>