<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurants | Welcome</title>
  <link rel="stylesheet" href="/static/css/foundation.css">
  <script src="js/vendor/modernizr.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Kite+One|Mate+SC' rel='stylesheet' type='text/css'>
</head>

<body>

  <div class="row">
        <div class="large-3 columns">
          <h1><img src="http://placehold.it/400x100&text=Logo"/></h1>
        </div>
        <div class="large-9 columns">
          <ul class="inline-list right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Groupons</a></li>
            <li><a href="#">Create New</a></li>
          </ul>
        </div>
      </div>
      
       
      
      
      <div class="row">    
        
         
         
        <div class="large-9 push-3 columns">
          
         {% block content %}
         {% endblock %}
                
        </div>
        
        
         
         
        <div class="large-3 pull-9 columns">
            
          <ul class="side-nav">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
          
          <p><img src="http://placehold.it/320x240&text=Ad"/></p>
            
        </div>
        
      </div>
        
      
       
      
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright 2015. <a href="https://twitter.com/BigJeffDogg">BigJeffDogg</a>.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Home</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="#">Groupons</a></li>
                <li><a href="#">Create New</a></li>
              </ul>
            </div>
          </div>
        </div> 
      </footer>
  </body>
</html>
</body>
</html>