{% extends 'base.html' %}
{% block content %}

<form method="POST" action="{{ url_for('editRestaurant', restaurant_id=restaurant_id) }}">
  <div class="row">
    <div class="large-9 columns">
      <label>Change the Name of the current restauant below?
        <input type="text" name='name' placeholder="{{ r.name }}" />
      </label>
      <ul class="stack-for-small round secondary button-group">
  		<li><input class="button" type="submit" value="Edit"></li>
  		<li><a href="{{ url_for('main') }}" class="button">Cancel</a></li>
	</ul>
    </div>
  </div>

</form>
{% endblock %}