{% extends 'base.html' %}

{% block content %}
 <div class="large-9 push-3 columns">
          
          <h3>Restaurants <small>Englewood, Florida</small></h3>
          
          
     
          <p>Here is a list of Restuarants in Englewood Florida.  This is a webdevlopment project so the acuracy of the menu items may be off.  You are able to get the gist of what is available to eat in this great city of ours.  I may be intersted in making this site more acurate in the future, but for now we are just doing a mock up for learning purposes.  The name of this site can be EnglewoodRestaurants.com or something similar to that effect.</p>
                
</div>

{% endblock %}